/* Removes the margin on body */
html{
  height: 100%;
    overflow-x: hidden;
}

body{
  margin: 0;
  height: 100%;
  width:100%;
  overflow-x: hidden;
}
.SizeAdaption{
  font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

hr{
	border-top: 1px solid #8c8b8b;
  margin:0;
}
/*Sets the fixed background images*/
.BackCoverDesk{
  position: fixed;
  height: 100%;
  width:100%;
  z-index: -3;
}
.BackCoverMobile{
  position: fixed;
  height: 100%;
  width:100%;
  z-index: -3;
}
.ShootStar{
  z-index: -1;
  position: fixed;
  height: 10px;
  opacity: 0;
  left: 30%;
  top: 30%;
  animation-name: shootingStar;
  animation-duration: 120s;
  animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.5s;
}

/*Chages the background image based on the screen dispaly*/
@media (max-width: 800px){
.BackCoverDesk{
  opacity: 0;
}
.BackCoverMobile{
  opacity: 1;
}
}
@media (min-width: 800px){
  .BackCoverDesk{
    opacity: 1;
  }
  .BackCoverMobile{
    opacity: 0;
  }
}


/*Motion and animation of the background and the shooting star*/
.BackCoverMotionDesk{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
  animation: SkyMotion 20s linear infinite alternate;
}
@keyframes SkyMotion{
0% {transform: rotate(0deg);}
100% {transform: rotate(36deg);}
}

@keyframes shootingStar {

0%{transform: translate(-10vh,-10vh); opacity: 0;}
0.5%{opacity: 1;}
1%{transform: translate(40vh,40vh); opacity: 0;}

30%{transform: translate(70vh, 30vh);opacity: 0;}
30.5%{opacity: 1;}
31%{transform: translate(100vh,60vh); opacity: 0;}

66%{transform: translate(-40vh, 20vh);opacity: 0;}
66.5%{opacity: 1;}
67%{transform: translate(-10vh,50vh); opacity: 0;}
}



/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*Navigation bar section*/

.NavBarSection{
  position: fixed;
  width: 100%;
  z-index:1;
}
.navbar{
  width: 100%;
}


/*/////////////////////////////////////////////////////////////////////////////////*/
/*This is the scroll down section*/
.ScrollDown{
  position: relative;
  height: 100%;
text-align: center;
}
.AstroTwo{
  position: relative;
height: 300px;
top: 10%;
  animation: AstroBoyTwo 20s ease-in-out 1;
}
.ScrollDown_Tag{
  padding-top: 20%;
  color: white;
  font-family: "Montserrat", sans-serif;
  animation: fadein 6s ease-in-out 1;
}
.ScrollDown_Mobile1{
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
opacity: 0;
font-family: "Montserrat",sans-serif;
font-size: 1.5rem;
  color:white;
  bottom: 10%;

}
.ScrollDown_Mobile2{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-family: "Montserrat",sans-serif;
  font-size: 1.5rem;
  opacity: 0;
  color: grey;
  bottom: 10%;
}
.Hidden{
  position: absolute;
  opacity: 0;
}




@keyframes fadein {
  from{opacity: 0}
  to{opacity: 1}
}

@keyframes AstroBoyTwo {
0%{transform: rotate(0);}
20%{transform: rotate(-360deg) translate(-20px, 20px);}
40%{transform: rotate(-360deg) translate(0, 0);}
50%{transform:  translate(20px, 20px);}
70%{transform:  translate(0, 0);}
80%{transform:  translate(-10px, -10px);}
100%{transform: translate(0, 0); opacity: 1;}
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The Header Section*/
.HeaderSection{
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 2%;
  position: relative;
  width:50%;
padding: 120px 5px;
  text-align: center;
  margin: 0 auto 75px auto;
  background-color: rgb(0,0,0,0.5);
}
.Header_Welcome{
color: white;
font-family: "Bungee Outline";
font-weight: 600;
font-size: 5rem;
}
.Header_Discrip{
  color:white;
  font-family: "Quicksand";
  padding-top: 50px;
  font-size: 1.4rem;
}
.Header_H3{
  color: white;
}
.hh2{
    font-family: "Bungee Shade";
}




/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*The Earth Section*/
.EarthSection{
  position:relative;
  width: 40%;
  margin: 0 auto 50px auto;
  text-align: center;
}
.EarthImg{
  position: relative;
width: 80%;
animation-name: bounce;
animation-duration: 5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
@keyframes bounce {
  0%{transform: translate(0);}
  50%{transform: translate(5px);}
  100%{transform: translate(0);}
}
.Earth_Para{
  color:#f1f1f1;

}
.SatOne{
  position: absolute;
  z-index: -1;
top: 45%;
left:45%;
  height: 50px;
  transform: translate(300px);
  animation: OrbitalOne 15s linear infinite;
}
@keyframes OrbitalOne {
  from { transform: rotate(0deg) translateX(300px) rotate(110deg); }
to   { transform: rotate(360deg) translateX(300px)  rotate(110deg);}
}


/*////////////////////////////////////////////////////////////////////////////////////////*/
/*About me Section*/
.AboutMe{
  color:white;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  width: 100%;
  line-height: 2;
  margin: 0 auto 0 auto;
 }
 .container{
   margin: 0 auto 0 auto; }
.AboutMe_ImageOne{
  height: 200px;
  animation: circle 10s linear infinite;
}
.AboutMe_Row{
  padding-top: 150px;
  background-color: rgba(0,0,0,0.6);
}

@keyframes circle {
  0%{ transform: rotate(0deg);}
  1% {transform: rotate(-3deg);}
  2% {transform: rotate(3deg);}
  3% {transform: rotate(-3deg);}
  4% {transform: rotate(3deg);}
  5% {transform: rotate(-3deg);}
  6% {transform: rotate(3deg);}
  7% {transform: rotate(-0deg);}
  100%{transform: rotate(-0deg);}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Links and contact me section*/
.CM_Image{
  height: 50px;
}
.ContactMe{
  margin-top: 100px;
text-align: center;
}
.ContactMe_One{
  display: inline-block;
  color: white;
  text-align: center;
  margin: 0 20px 0 20px;
}
.ContactMe_two{
  display: inline-block;
  color:white;
  text-align: center;
  margin: 0 20px 0 20px;
}











/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Adaptions made for Mobile devices*/
@media (max-width: 800px){

  /*headerSection*/
.HeaderSection{
  width: 90%;
  margin: 0 auto 50px auto;
  padding: 75px 5px;
}
.Header_Welcome{
  font-size: 3rem;
}
.Header_Discrip{
  font-size: 1.2rem;
}
/*////////////////////////////////////////////////////////////////////////////////*/
/*  Scroll Down Section Op Mobile*/
.ScrollDown_Mobile1{
    animation: Mobile1 2s ease-out 1;
}
.ScrollDown_Mobile2{
    animation: Mobile2 2s ease-in 1;
    opacity: 1;
}
.ShootStar{
  position: absolute;
  animation: none;
}
.AstroTwo{
  animation: bounce1 5s ease-in-out infinite alternate;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*EarthSection*/
.EarthSection{
  width: 90%;
}

.SatOne{
  height: 20px;
  transform: translate(150px);
  animation: OrbitalOneMob 15s linear infinite;
}



/*////////////////////////////////////////////////////////////////////////////////////////*/
/*About me Section*/
.AboutMe_ImageOne{
  height: 120px;
  margin-bottom: 20px;
}
.AboutMe_ImgOne{
    height: 90px;
}
.AboutMe{
  text-align: center;
}
.SizeAdaption{
  font-size: 1rem;
}




}


/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*Adaptions for smaller desktop computer screens*/
@media (min-width: 801px) and (max-width: 1500px){
  .SatOne{
    height: 50px;
    transform: translate(250px);
    animation: OrbitalOneDeskSmall 15s linear infinite;
  }


  .AboutMe_ImageOne{
    height: 150px;
  }


}




/*///////////////////////////////////////////////////////////////////////////////////////////////*/
/*Key frames for adaptions of size of screen*/

@keyframes OrbitalOneMob {
  from { transform: rotate(0deg) translateX(150px) rotate(110deg); }
to   { transform: rotate(360deg) translateX(150px)  rotate(110deg);}
}


@keyframes OrbitalOneDeskSmall {
  from { transform: rotate(0deg) translateX(250px) rotate(110deg); }
to   { transform: rotate(360deg) translateX(250px)  rotate(110deg);}
}

@keyframes Mobile1 {
0%{opacity: 1;}
98%{opacity: 1;}
100%{opacity: 0;}
}
@keyframes Mobile2 {
  0%{opacity:0 ;}
  98%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes bounce1 {
  0%{transform: translate(0,30px);}
  100%{transform: translate(0,-30px);}
}
